:root{
    --background:#598c98;
    --main-color:#009abc;
    --second-color: #005458;
    --text: #000000;
}

/* Structure */

body{
    
    margin: 0% auto;
}

.logo{
    padding: 10px;
}

#nav{
    background-color: var(--second-color);
    padding-bottom: 40em;
}

#top{
    background-color: var(--background);
    padding: 20px;
    text-align: center;
}

#secound{
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
}

.section{
    background-color: var(--main-color);
    padding: 20px;
    margin: 20px;
}

.sec2{
    background-color: var(--background);
    padding: 20px;
    margin: 20px;
}

footer{
    background-color: var(--second-color);
}

/* Logo */
.logo{
    padding: 10px;
}

.logo a{
    text-decoration: none;
    color: var(--text);
}


/* Navigation */
#nav{
    display: flex;
}
#toggle-nav{
   position: absolute;
   top: 20px;
   right:40px
}

#toggle-nav div{
    width: 25px;
    height: 2px;
    background: var(--main-color);
    margin: 6px 0;
}

#list ul{
    list-style-type: none;
}


.hide-small{
    display: none;
}



/* Typography */
main h1,
footer p{
    text-align: center;
}


 @media screen and (min-width: 600px) {

    /* Navigation */
    #nav{
        display: flex;
    }
    #list{
        display:flex;
        position: absolute;
        right: 50px;
        
    } 

    ul li{
        display: inline;
    }

    #toggle-nav{
        display: none;
    }

    .secound-nav li{
        display: none;
    }

  

    footer{
        display: flex;
    }

    #contact{
        position: absolute;
        right:40px
    }
 }



 @media screen and (min-width: 800px){
    .section{
        display: flex;
    }

    .sec2{
        display: flex;
    }

    .show{
        flex:1;
    }

    .info{
        flex:3;
    }


 }
