:root {
    --cream: #FFF8D5;
    --light-brown: #A07654;
    --mideum-brown: #77563C;
    --dark-brown: #553D2A;
    --sage-green: #7F8D78;
    --green: #3a532d;

    --main-text: 'arima', sans-serif;
    --text: 'playwrite New zealand basic', sans-serif;
    --look: 'pacifico', cursive;
}
/* General styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--sage-green);
    color: var(--cream);
}

h1 {
    font-family: var(--look);
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: var(--cream);
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: var(--dark-brown);
    color: var(--cream);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text);
    font-size: 16px;
}

button:hover {
    background-color: var(--mideum-brown);
}

.filter-btn.active {
    background-color: var(--cream);
    color: var(--dark-brown);
    border: var(--dark-brown) 2px solid;
}

.filter-btn {
    transition: all 0.2s ease;
}

/* Drink section styles */
.drink-main,
.coffee-main,
.breakfast-main,
.lunch-main,
.sweets-main {
    background-color: var(--cream);
    color: var(--dark-brown);
    font-family: var(--text);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-brown);
}

.drink-container,
.coffee-container,
.breakfast-container,
.lunch-container,
.sweets-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.drink-section,
.coffee-section,
.breakfast-section,
.lunch-section,
.sweets-section {
    background-color: var(--light-brown);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--dark-brown);
}

.drink-item h3,
.coffee-item h3,
.breakfast-item h3,
.lunch-item h3,
.sweets-item h3 {
    font-family: var(--look);
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--cream);
    border-bottom: 2px solid var(--cream);
    padding-bottom: 10px;
}

.drink-item h4,
.coffee-item h4,
.breakfast-item h4,
.lunch-item h4,
.sweets-item h4 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0;
    font-size: 18px;
    color: var(--cream);
    position: relative;
    text-align: center;
}

.drink-item p,
.coffee-item p,
.breakfast-item p,
.lunch-item p,
.sweets-item p {
    margin-left: 10px;
    font-size: 16px;
    color: var(--cream);
}

/* Toggle visibility */
.drink-main{
    display: none;
}

.coffee-main.active,
.drink-main.active {
    display: block;
}



/* Desktop view */
@media (min-width: 900px) {
    .coffee-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
