/* Structure */
body{
    background-color: #BEE7E8;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


#head,
#foot{
    background-color:#7D8CC4;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#main-content{
    background-image: url("images/ocean.jpg");
    padding: 5px;
    margin: 10px;
}

#second{
    background-image: url("images/second.jpg");
    padding: 5px;
    margin: 10px;
}

#foot{
    text-align: center;
}

/* Link */
#list a{
    text-decoration: none;
    color: aliceblue;
}

.name{
    background-color: #7D8CC4;
    border-radius: 5px;
    padding: 10px;
}

.block1{
    background-color: #eb82e585;
    padding: 10px;
    margin: 10px;
}

.block2{
    background-color: rgba(0, 0, 255, 0.526);
    padding: 10px;
    margin: 10px;
}

img{
    display: block;
    margin: auto;
    max-width:100%
}



/* Typography */
h1{
    font-family:cursive;
}


#main-content h3,
h2{
    text-align: center;
}



/* Flex */
@media(min-width:900px){
    .show{
        display: flex;
    }

    .block1,
    .block2{
        flex: 1;
    }

    .show img{
        width:70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}




